<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <h2>
                {{ titulo }}
            </h2>
        </div>
        <div class="container">
            <div>
                <input v-model="titulo" type="text">
            </div>
            <div>
                <p>
                    {{name}}
                <h2>Uso de V-if</h2>
                <span v-if="ver">
                    Etiqueta span mostrada
                </span>
                </p>
                <div>
                    <ul>
                        <li v-for="producto in productos">
                            {{producto.name}} 
                            <span>
                                $ {{producto.price}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis delectus impedit voluptatum, sunt tempora
                voluptates debitis, ut reprehenderit nam ex maiores eius nobis placeat fugit aliquid consequuntur sint
                dolorum animi.
            </div>
        </div>
    </div>

    <script>
        //  Instanciación de Vue
        var app = new Vue({
            el: '#app',
            data: {
                titulo: 'Intro to Vue Js...',
                name: 'Andres',
                ver: false,
                productos: [
                    { name: 'producto 1 ', price: 20 },
                    { name: 'producto 2', price: 15 },
                    { name: 'producto 3', price: 4 },
                    { name: 'producto 4', price: 78 },
                    { name: 'producto 5', price: 52 },

                ]
            }
        })
    </script>
</body>

</html>